@import 'tailwindcss';

@font-face {
  font-family: "LexendGiga";
  src: url("/fonts/LexendGiga-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: oklch(0.45 0.26 264);
  --color-header-bg: oklch(0.9585 0.0098 87.47);
  --color-header-text: oklch(0.3 0.04 72.1);
  --color-background: oklch(0.98 0 0);
  --font-display: "Satoshi", "sans-serif";
  --font-heading: "LexendGiga", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}

