---
import Header from "../components/AppBar.jsx";
import "../styles/global.css";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
            charset="utf-8"
        />
        <title>{title}</title>
        <meta name="description" content={description} />
    </head>
    <body class="bg-background text-stone-900">
        <Header client:load />
        <main class="max-w-4xl mx-auto px-4 py-10">
            <slot />
        </main>
    </body>
</html>
