---
const toggle = `
  const menu = document.getElementById('mobileMenu');
  menu.classList.toggle('hidden');
`;
---

<div class="md:hidden">
  <button onclick={toggle}>
    ☰
  </button>

  <div id="mobileMenu" class="hidden absolute right-4 top-14 bg-white shadow-lg border rounded-lg p-4 space-y-3">
    <a class="block" href="/">Home</a>
    <a class="block" href="/about">About</a>
  </div>
</div>