---

---

<div
    class="prose
    prose-sm
    sm:prose
    lg:prose-lg
    !max-w-4xl
    dark:prose-invert
    prose-h1:font-bold
    prose-h1:text-xl
    prose-headings:font-heading
    prose-a:text-blue-600
    prose-p:text-justify
    prose-img:rounded-xl
    ">
    <slot />
</div>
